@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@font-face {
  font-family: 'Poppins-Logo';
  src: url('/fonts/Poppins-Black.ttf');
}
@font-face {
  font-family: 'Poppins-Semibold';
  src: url('/fonts/Poppins-SemiBold.ttf');
}