body {
    background-color: rgb(20, 20, 20);
    color: white;
}

#err {
    background-color: red;
    border-radius: 10px;
}

.profile {
    & {
        margin: 70px 50px;
    }
    .image {
        background-color: white;
        border-radius: 100px;
    }
    h1 {
        font-size: 50px;
        font-family: 'Poppins-Semibold';
    }
}

#join_course {
    & {
        background-color: rgb(22, 22, 22);
        color: white;
        border-radius: 10px;
    }
    #j_course_body {
        & {
            background-color: rgb(22, 22, 22);
            min-width: 350px;
            color: white;
            text-align: center;
            height: 500px;
            border-radius: 10px;
        }
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 25px;
        }
        #middle {
            & {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
            }
            #c {
                text-align: center;
                transform: translate(-5%);
            }    
        }
        form {
            & {
                display: grid;
                gap: 10px;
                width: 90%;
                margin: auto;
            }
            input {
                background-color: rgb(37, 37, 37);
                border-radius: 5px;  
                padding: 10px;
                transition: 500ms;              
            }
            button {
                background-color: rgb(37, 37, 37);
                border-radius: 5px;  
                padding: 10px;
                transition: 500ms;              
            }
            input:focus {
                background-color: rgb(30, 30, 30);
            }
        }
    }
}

#create_course {
    & {
        background-color: rgb(22, 22, 22);
        color: white;
        border-radius: 10px;
    }
    #x_course_body {
        & {
            background-color: rgb(22, 22, 22);
            min-width: 375px;
            color: white;
            text-align: center;
            height: 500px;
            border-radius: 10px;
        }
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 25px;
        }
        #middle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        form {
            & {
                display: grid;
                gap: 10px;
                width: 90%;
                margin: auto;
            }
            input {
                background-color: rgb(37, 37, 37);
                border-radius: 5px;  
                padding: 10px;
                transition: 500ms;              
            }
            button {
                background-color: rgb(37, 37, 37);
                border-radius: 5px;  
                padding: 10px;
                transition: 500ms;              
            }
            input:focus {
                background-color: rgb(30, 30, 30);
            }
        }
    }
}


.join-course {
    & {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 10px;
        width: fit-content;
    }
    a {
        background-color: rgb(35, 35, 35);
        border-radius: 10px;
        padding: 10px;
        float: right;
        transition: 500ms;
    }
    .c_course {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    a:hover {
        background-color: rgb(93, 88, 88);
    }
}
.classes-to-learn {
    & {
        text-align: center;
    }
    h1 {
        font-family: 'Poppins-Semibold';
        font-size: 30px;
    }
    .class-courses {
        & {
            display: inline-grid;
            width: 90%;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .card {
            & {
                margin: auto;
                background-color: rgb(100, 100, 100);
                min-width: 300px;
                max-width: 500px;
                min-height: 200px;
                border-radius: 10px;
                position: relative;
                text-align: center;
            }
            .card-content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .buttons {
            & {
                display: inline-grid;
                width: 100%;
                margin: auto;
                gap: 5px;
            }
            .button {
                margin: auto;
                width: 90%;
                background-color: rgb(35, 35, 35);
                border-radius: 5px;
                max-height: 100px;
            }   
        }
    }
}

.loading-screen {
    & {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    h2 { 
        font-family: 'Poppins-Logo';
        font-size: 50px;
        user-select: none;
    }
    .loom-load {
        color: white;
    }
    .loader {
        transform: translateX(53px);
    }
    .loader-text {
        transform: translateX(20px);
    }
}

@media screen and (max-width: 600px) {
    .profile {
        & {
            text-align: center;
        }
    }    
}