body {
    background-color: rgb(20, 20, 20);
    color: white;
}

.profile {
    & {
        margin: 70px 50px;
    }
    .image {
        background-color: white;
        border-radius: 100px;
    }
    h1 {
        font-size: 50px;
        font-family: 'Poppins-Semibold';
    }
}

.classes-to-learn {
    & {
        text-align: center;
    }
    h1 {
        font-family: 'Poppins-Semibold';
        font-size: 30px;
    }
    .class-courses {
        & {
            display: inline-grid;
            width: 90%;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .card {
            & {
                margin: auto;
                background-color: rgb(100, 100, 100);
                min-width: 300px;
                max-width: 500px;
                min-height: 200px;
                border-radius: 10px;
                position: relative;
                text-align: center;
            }
            .card-content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .buttons {
            & {
                display: inline-grid;
                width: 100%;
                margin: auto;
                gap: 5px;
            }
            .button {
                margin: auto;
                width: 90%;
                background-color: rgb(35, 35, 35);
                border-radius: 5px;
                max-height: 100px;
            }   
        }
    }
}

.loading-screen {
    & {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    h2 { 
        font-family: 'Poppins-Logo';
        font-size: 50px;
        user-select: none;
    }
    .loom-load {
        color: white;
    }
    .loader {
        transform: translateX(53px);
    }
    .loader-text {
        transform: translateX(20px);
    }
}

@media screen and (max-width: 600px) {
    .profile {
        & {
            text-align: center;
        }
    }    
}