@font-face {
    font-family: 'Poppins-GT';
    src: url('/fonts/Poppins-Black.ttf');
}

.gt {
    filter: blur(5px);
}
.logo {
    & {
        display: flex;
        flex-direction: row;
        gap: 0px;
        font-family: 'Poppins-logo';
        text-align: center;
        margin: auto;
        width: 50%;
    }
    h1 {
        font-size: 32.5px;
        transform: translateY(-1.25px);
    }
    img {
        width: 50px;
        height: 50px;
    }
}

form {
    & {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    a {
        transition: 500ms;
    }
    a:hover {
        color: rgb(121, 121, 255);
    }
    .input {
        & {
            transition: 500ms;
            background-color: #2e2e2ea6;
            border-radius: 10px;
            text-align: center;
            color: white;
            width: 100%;
            padding: 5px;
        }
        ::placeholder {
            color: white;
        }        
    }
    .input:focus {
        background-color: rgb(26, 26, 26);
    }
    .submit {
        & {
            background-color: #242323bd;
            padding: 5px;
            border-radius: 10px; 
            transition: 500ms;   
        }
    }
    .submit:hover {
        background-color: #393939bd;
    }
}

.links-lgl {
    & {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: auto;
    }
}

.gt {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup {
    & {
        border-radius: 10px;
        background-color: rgb(29, 29, 29);
        min-width: 350px;
        max-width: 500px;
        text-align: center;
        z-index: 2;
        min-height: 400px;
        max-height: 800px;
        padding: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-family: 'Poppins-GT';
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .login {
        & {
            left: 50%;
        }
    }
    
}