body {
    background-color: rgb(29, 29, 29);
}

.spaces {
    & {
        width: 100%;
        border-radius: 10px;
        text-align: center;
        position: absolute;
    }
    .df {
        width: 100%;
        border-radius: 10px;
        background-color: #272727;
        min-height: 200px;
    }
    .df .sp {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 25px;
        font-family: 'Poppins-SemiBold';
    }
}

.spaces-cards {
    & {
        position: absolute;
        display: grid;
        width: 100%;
        top: 70%;
        transform: translateY(-40%);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        row-gap: 10px;
        column-gap: 10px;
    }

    .space {
        & {
            min-width: 300px;
            border-radius: 10px;
            min-height: 200px;
            background-color: rgb(40, 40, 40);
            text-align: center;
            margin: auto;    
            text-align: center;
            font-size: 30px;
            font-family: 'Poppins-SemiBold';
            transition: 500ms;
        }
    }
}
